<div class="twelve columns">
	<% if @user_items.count < 1 %>
		<p>Make a to-do!</p>
	<% else %>
		<% @user_items.each do |item| %>
			<%= content_tag :div, id: "item-#{item.id}" do %>
				<div class="row">
					<%= link_to [current_user, item], method: :delete, remote: :true, style: "text-decoration: none;", class: "two columns"  do%>
						<%= fa_icon "minus-square", style: "color: #f00;" %>
					<% end %>

					<div class="ten columns">
						<%= item.name %>
					</div>
				</div>

				<div class="row">
					<div class="ten columns offset-by-two" style="font-size: 10px;">
						<%= time_left(item) %>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>